a.dropdown-toggle(href='#', data-toggle='dropdown')
    img.user-image(src='/images/avatar5.png', alt='User image')
    span.hidden-xs Riguz Lee
ul.dropdown-menu
    li.user-header
        img.img-circle(src='/images/avatar5.png', alt='User image')
        p.
            Riguz Lee - NodeJs developer
            <small>Nice to meet you</small>
