div.content-wrapper
    section.content-header
        h1: block header
        ol.breadcrumb
            li: a.fa.fa-dashboard(href='#') Level
            li.active Here
    section.content
        block content
