.grid-picture-wrapper {
    width: 85px;
    height: 85px;
    margin-right: 5px;
}
.media{
    margin-top: 15px;
}
.grid-image {
    display: inline;
}

.post-time-info {
    clear: both;
    color: #759AAD;
}

.post-content {
    font-size: 14px;
    text-shadow: 1px 1px 1px #aaa5a5cc;
    line-height: 1.2;
}