mixin talk(post)

    div.row
        div.medium-8.small-centered.columns.post-wrapper
            div.post-header
                strong 红尘の人
            div.panel.post-content!= post.content
            if post.images
                div.media
                    each img in post.images
                        div.grid-picture-wrapper.float-left
                            a(href=img.src, data-lity='')
                                img.grid-image(src=img.thumb, style='width:100%;height:100%;')
            div.post-time-info
                small!= post.displayTime + ' <small>' + post.source.client + '</small>'
