extends ../layout/foundation
block css
    link(rel='stylesheet', href='/css/j.css')
block content
    div.row
        div.medium-8.small-centered.columns
            div.panel
                h2= '简 ' + pagination.total
    include _item
    each item in posts
        +talk(item)
    div.row: div.medium-8.small-centered.columns
        include _pagination
        +pagination(pagination, '/', 3)

