extends ../layout/foundation

block content
    div.row
        div.medium-8.small-centered.columns
            div.panel
                h2 我的竹简
    div.row
        div.medium-8.small-centered.columns
            div.panel

                hr
                p 还是用微博吧～ 想骂谁骂谁
    div.row
        div.medium-8.small-centered.columns
            div.panel
                hr
                p 还是用微博吧～ 想骂谁骂谁


