extends ../layout/foundation
block css
    link(rel='stylesheet', href='/css/j.css')
block content
    div.row
        div.medium-8.small-centered.columns
            div.panel
                h2 我的竹简
    include _item
    each item in posts
        +talk(item)


