extends ../layout/foundation
block css
    link(rel='stylesheet', href='/css/j.css')
block content
    div.row
        div.medium-8.small-centered.columns
            div.panel
                h2 我的竹简
    include _item
    each item in posts
        +talk(item)
    div.row: div.medium-8: ul.pagination(role='navigation')
        li.pagination-previous.disabled: a(href='#')
            | Previous
        li.current: a(href='#')= 1
        li.pagination-next: a(href='?page=2&rows=20')

