extends ../layout/foundation

block css
    link(rel='stylesheet', href='/css/j.css')
    - var lity = '6.3.1'
    link(rel='stylesheet', href='/libs/lity-#{lity}/lity.min.css')
block js
    - var lity = '6.3.1'
    script(src='/libs/lity-#{lity}/lity.min.js')
block content
    div.row
        div.medium-8.small-centered.columns
            div.panel
                h2: a(href='/')!= '简 ' + pagination.total
    include _item
    each item in posts
        +talk(item)
    div.row: div.medium-8.small-centered.columns
        include _pagination
        +pagination(pagination, '/', 3)

